.game-player {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
}

.click-pos {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 1, .2);
}
