.game-player {
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
}

.reflect_shield {
    box-shadow: inset 0 0 15px #00CCFF;
}

.click-pos {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 1, .2);
}
