.root {
    width: 100vw;
    overflow-x: hidden;
}

.root-header {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #222;
    padding: 20px;
}

.root-header-title {
    color: #FAFAFA;
}

.root-header-subtitle {
    color: #AAA;
    font-size: .8em;
}

.root-content {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.root-content-game {
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.root-content-game-title {
    color: #222;

}

.root-content-game-link {

}

.root-rooms {
    height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: red;
}

.root-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #FAFAFA;
}

.root-footer h3 {
    margin: 0;
    margin-bottom: 3px;
    margin-top: 20px;
}

.root-footer p {
    margin: 0;
}

.root-footer a {
    color: #90CAF9;
}

.root-footer-codes {
    margin-top: 10px;

    display: flex;
    justify-content: space-around;

    width: 100vw;
}
